*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
a{
    text-decoration: none;
}

/* header section */
.header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-link{
    height: 100%;
    display: flex;
}
.logo-img{
    height: 80%;
}
.brand-name{
    width: 100px;
    font-weight: 300;
    color: #6a6a6a;
    margin-top: 20px;
}
.nav-btns{
    /* width: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;  
}
.header-link{
    padding: 0 30px;
    font-weight: 500;
    color: #000;
    transition: all 0.3s ease;
}
.header-link:hover{
    color: #6a6a6a;
}
.active{
    color: #33cccc;
}

/* Hero section */
.hero{
    background-image:url(/images/hero2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content{
    width: 50%;
    padding: 50px 0;
    padding-left: 100px;
}
.hero-heading{
    font-weight: 400;
    font-size: 5rem;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #323644;
}
.hero-price{
    font-size: 1.25rem;
    font-weight: 500;
    color: #33cccc;
}
.hero-para{
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    padding: 30px 0;

}
.hero-readmore{
    display: flex;
    width: 150px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    margin: 10px 0;  
    color: #323644;
    font-weight: 500;
    transition: background 0.3s ease;
}
.hero-readmore:hover{
    background-color: #323644;
    color: #fff;
}

.custom-link{
    width:50%;
    color: #323644;
}
.sale-mainbox .custom-link{
    width: 65%;
}

/* Sale box */
.sale-box{
    padding: 50px 0;
    background-color: #f0f0f0;
}
.sale-box>h1{
    font-size: 3rem;
    text-align: center;
    font-weight: 400;
    
}
.sale-mainbox{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sale-itembox{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.sale-imgbox{
   height: 100%;
   margin: 0 15px;
}
.sale-img{
    height: 100%;
    aspect-ratio: 4/5;
}
.sale-content{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0 15px;
}
.sale-content h1{
    width: fit-content;
    border-bottom: 2px solid #000;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 10px 0;
    white-space: pre-line;

}
.sale-content h2{
    font-size: 1.8rem;
}
.sale-content p{
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
}
.sale-content h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: #33cccc;
}
.view-btn{
    display: inline;
    width: 150px;
    height: 40px;
    color: #323644;
    outline: none;
    border: 1px solid #323644;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 20px;
    transition: background 0.3s ease;

}
.view-btn:hover{
    background-color: #323644;
    color: #fff;
}

/* Rent box */
.rent-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.rent-heading h1{
    font-size: 3rem;
    font-weight: 400;
    margin-top: 100px;
}
.rent-mainbox{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.rent-itembox{
    margin: 50px 25px;
}
.rent-imgbox{
    height: 50%;
   
}
.rent-img{
    height: 100%;
    width: 100%;
    aspect-ratio: 4/3;
}

.rent-content h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;
}
.rent-content h1{
    width: fit-content;
    border-bottom: 1.8px solid #000;
    font-weight: 400;
    font-size: 2.5rem;
}
.rent-content p{
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    margin: 20px 0;

}
.rent-content h3{
    font-size: 1.5rem;
    font-weight: 500;
    color: #33cccc;
}

/* TESTIMONIAL */
.testimonial-box{
    height: max-content;
    padding: 0 0 50px;
    background-image: url(https://images.pexels.com/photos/15170508/pexels-photo-15170508/free-photo-of-empty-beach-and-sea-at-dusk.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size:cover;
    background-repeat: no-repeat;
}
.testimonial-heading h1{
    text-align: center;
    color: #fff;
    padding: 50px 0;
    font-weight: 400;
}

.review-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial-item{
    width: 25%;
    text-align: center;
    color:#fff;
    margin: 0 20px;
    
}
.testimonial-item p{
    font-size: 1.2rem;
    font-weight: 300;
    font-family: "Nunito", sans-serif;
    margin: 20px 0;
}
.testimonial-item h3{
    font-size: 18px;
    font-weight: 400;
    color: #33cccc;
}

/* FOOTER */
.footer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#323644;
    color: #9396A2;
}
.footer-mainbox{
    width: 100%;
    height: 100%;
    padding: 0 0 50px;
    display: flex;
    justify-content: center;
    background-color:#323644;
    color: #9396A2;

}

.footer h2{
    font-weight: 400;
    font-size: 1.5rem;
}
.contact-details{
    width: 45%;
    margin: 100px auto 20px;
}
.detail-box{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
}

.contact-form{
    width: 45%;
    margin: 100px auto 20px;
}
form{
    height: 60%;
    width: 90%;
    margin: 30px 0;
}
.footer-form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-form{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px 0 0;
    
}
.right-form{
    height: 100%;
    width: 45%;
    
}
.left-form input{
    width: 100%;
    height: 30%;
    outline: none;
    border: 1px solid #9396A2;
    background: transparent;
    color: #9396A2;
}
.left-form input, textarea{
    text-indent: 10px;
}

textarea{
    color: #9396A2;
    height: 100%;
    width: 100%;
    background: transparent;
    resize: none;
}
.submit-btn{
    float: right;
    margin: 10px 0;
    background-color: transparent;
    outline: none;
    border: none;
    color: #9396A2;
    font-weight: 500;
    cursor: pointer;
}
.footer-copyright{
    margin: 10px auto;
    
}

/* agent page */

.agent-box{
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/beautiful-landscape-view-ocean_23-2149119440.jpg?t=st=1708798968~exp=1708802568~hmac=8c5f01d2cba73f8275307460309407c1d2bbafbd83bb320d32fe9014f2fb280b&w=740);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.agent-heading h1{
    font-weight: 500;
    color: #fff;
    margin: 50px 0;
}
.agent-mainbox{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.agent-itembox{
    width: 30%;
    background-color:#fff ;
    margin: 50px 15px;

}
.agent-content{
    padding: 20px;
}
.agent-content h1{
    font-weight: 500;
    font-size: 1.5rem;
    width: fit-content;
    border-bottom: 1.5px solid #000;
    
}
.agent-content h2{
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0;
    color: #33cccc;
}

.agent-content p{
    font-size: 18px;
    font-weight: 300;
    font-family: "Nunito", sans-serif;

}
